root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
quote_type = single

[*.{js,jsx}]
indent_size = 4

[*.{json,css}]
indent_size = 2

[.gitignore]
insert_final_newline = false
