/* CORRECT COMMENT [WITHOUT ANY NUMBERS IN THE BEGINNING] */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #0a1929;
  color: #f1f1e6;
}
